exportPattern("^[:alnum:]*")
exportClasses(
"pocket",
"pocketOfSeq",
"listOfPockets"
)
exportMethods(
"get_intergenic_regions"
)
export(
"ygobTab2gff",
"findMatches",
"matches2heatmap",
"write.DNAStringSetList",
"extractPromoters",
"getGFF",
"write.gff",
"write.fasta",
"collapse.lopos"
)
